.offer{
    right: 0;
    position: fixed;
    bottom: 130px;
    width: 44px;
    height: 288px;
    background-color: #535766;
    z-index: 6;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
}
.flat{
    -webkit-writing-mode: vertical-lr;
    transform: rotate(-180deg);
    width: 20px;
   padding: 4px;
   height: 260px;
    vertical-align: middle;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}
.arrow{
    margin-left: 10px;
    font-size: 20px;
}
.bell{
    color:#fff;
    position:fixed;
    right: 30px;
    bottom: 80px;

}